*.war
*.ear
.classpath
.project
.settings
target

*.pydevproject
.metadata
.recommenders
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.target
.texlipse

yacc.exe
*.bat
lexico.l
sintac.y
y.output

!Trivial2a.bat

.DS_Store
