@(form: DynamicForm)

<html>
	<head>
    </head>
    <body>
		@helper.form(routes.Application.authenticate) {
		   <h1>Sign in</h1>
				@if(form.hasGlobalErrors) {
		    		<p class="error">
		        	@form.globalError.message
		    		</p>
				}
			<p>
			<input type="login" name="login" placeholder="login" value="@form("login").value">
			</p>
		 	<p>
		    	<input type="passwd" name="passwd" placeholder="passwd">
		   	</p>
		   	<p>
		    	<button type="submit">Login</button>
		   	</p>
		}
    </body>
</html>
