body {
	background-image: url("../images/banner.png");
}

.data-form {
	margin: 0 auto;
	padding: 1vh 4vh 4vh 4vh;
	text-align: left;
	width: 30vw;
	background: #F8F8F8;
	border-radius: 15px;
}

.panel-size {
	margin: 0 auto;
	width: 80vw;
}

.geography {
	background-color: #58ACFA;
}

.shows {
	background-color: #FA58F4;
}

.history {
	background-color: #F3F781;
}

.artlit {
	background-color: #B45F04;
}

.science {
	background-color: #82FA58;
}

.sports {
	background-color: #FE9A2E;
}

.catnames {
	color: #2E2E2E;
	font-size: 115%;
	font-weight: bold;
}

.btn-xl {  
    width: 75px;
    height: 75px;
    font-size: 35px;
    border-radius: 6px
}
.btn-dice{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.img-winning {
	margin: 0 auto;
	width: 40vw;
}
.img-winning-size {
	height: 90vh;
}